<h1><%= _('Send Test Bulletin') %></h1>

<%= start_form_tag :action => 'send_test', :id => @bulletin %>
  <p><label for="recipient_email">E-mail addresses to send the test to:</label><br />
  <%= text_area 'recipient', 'email' %>
  </p>
  <%= submit_tag _("Send") %>
<%= end_form_tag %>

<%= link_to _('Bulletins'), :action => 'list'  %>