<%= error_messages_for 'recipient_meta_option' %>

<!--[form:recipient_meta_option]-->
<p><label for="recipient_meta_option_field">Field</label><br/>
<%= text_field 'recipient_meta_option', 'field'  %></p>

<p><label for="recipient_meta_option_value">Value</label><br/>
<%= text_field 'recipient_meta_option', 'value'  %></p>



<!--[eoform:recipient_meta_option]-->
