<% for column in RecipientMetaOption.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @recipient_meta_option.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @recipient_meta_option %> |
<%= link_to 'Back', :action => 'list' %>
