<h1><%= _('Editing section') %></h1>

<%= start_form_tag :action => 'update', :id => @section, :popup => @popup_mode %>
  <%= render :partial => 'form' %>
  <%= submit_tag _('Save') %>
<%= end_form_tag %>

<% if ! @popup_mode %>
<%= link_to _('Show'), :action => 'show', :id => @section %> |
<%= link_to _('Sections'), :action => 'list', :bulletin_id => @section.bulletin %> |
<%= link_to _('Bulletins'), :controller => 'bulletins', :action => 'list' %>
<% end %>