<h1><%= _('New section') %></h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Create") %>
<%= end_form_tag %>

<%= link_to _('Sections'), :action => 'list', :bulletin_id => @section.bulletin_id %>
