
<h1>Project Files</h1>

<div id="filelist">

<%= render :partial => 'list' %>

</div>

<br/>
<% if @mode != :popup %>
<p><%= link_to 'Bulletins', :controller => 'bulletins', :action => 'list' %>
<% end %>
