<h1>Bolet&iacute;n de <%= @project.name %></h1>

<h2>Darse de baja:</h2>

<% form_tag :action => 'remove', :project_id => @project do %>
	<p><label for="recipient_email">Email</label><br/>
	<%= text_field 'recipient', 'email'  %></p>
	
	<%= submit_tag 'Mandar' %>
<% end %>
