<%= error_messages_for 'tag' %>

<!--[form:tag]-->
<p><label for="tag_name">Name</label><br/>
<%= text_field 'tag', 'name'  %></p>

<p><label for="tag_create_on">Create on</label><br/>
<%= datetime_select 'tag', 'create_on'  %></p>
<!--[eoform:tag]-->

