<h1>Editing templet</h1>

<%= start_form_tag({:action => 'update', :id => @templet}, {:id => 'templet'})%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @templet %> |
<%= link_to 'Templates', :action => 'list' %> |
<%= link_to 'Layouts', :controller => 'templet_layouts', :action => 'list', :templet_id => @templet %>
