
<h2>Template Help<h2>

<h3>Name Field</h3>
<p>
In normal use, this is the name of the template. Special codes
are however provided for overriding the default messages read 
by the users.
</p>
<p>
When used as an email, the following names are used by the application for special notifications to
recipients:
<ul>
	<li><b>EMAIL_PENDING</b> - Sent to new recipients in the pending state.</li>
	<li><b>EMAIL_CONFIRMED</b> - A confirmation message notifying the user of their registration.</li>
	<li><b>EMAIL_UNSUBSRIBE</b> - The user has requested to be removed, this confirms it.</li>
	<li><b>EMAIL_REMOVED</b> - Sent when a user has been "removed" from the database.</li>
</ul>
</p>
<p>
The following special names define pages used by the current project:
<ul>
    <li><b>PAGE_HEADER</b> - Header for each page used.</li>
    <li><b>PAGE_FOOTER</b> - Footer used for each page.</li>
    <li><b>PAGE_SUBSCRIBE</b> - Subscribe to project.</li>
    <li><b>PAGE_SUBSCRIBE_OK</b> - Confirmation of subscription page.</li>
    <li><b>PAGE_CONFIRMED</b> - Subscribe to project.</li>
    <li><b>PAGE_UNSUBSCRIBE</b> - Remove self from project</li>
    <li><b>PAGE_UNSUBSCRIBE_OK</b> - Recipient removed from mailing list</li>
    <li><b>PAGE_REMOVED</b> - User removed</li>
    <li><b>PAGE_RECOMMEND</b> - Forward the bulletin to an email address provided</li>
    <li><b>PAGE_RECOMMEND_OK</b> - Forwarded bulletin sent okay</li>
</ul>
</p>