<h1>New Template</h1>

<% form_for :project, :url => (@project ? admin_project_templet_url(@project, @templet) :
                              admin_templet_url(@templet)), :html => {:method => :post} do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Templates', :action => 'index' %>
