<h1>New Template</h1>

<%= start_form_tag({:action => 'create'}, {:id => 'templet'}) %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Templates', :action => 'list' %>
