<h1>Send Test Email</h1>

<%= start_form_tag :action => 'send_test', :id => @templet %>
  <p><label for="recipient_email">E-mail addresses to send the test to:</label><br />
  <%= text_area 'recipient', 'email' %>
  </p>
  <%= submit_tag "Send" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list'  %>