<h1>New Layout</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Layouts', :action => 'list', :templet_id => @templet %> |
<%= link_to 'Templats', :controller => 'templets', :action => 'list' %>
