<h2>Welcome to the %project.name% mailing list!</h2>
<p>Press the following link to confirm your membership.</p>
<p><a href="%subscription.confirm_link%">Confirm Subscription</a></p>
<p>Thankyou</p>