<h2>Removal from the %project.name% mailing list</h2>
<p>Are you sure you want to be removed from the mailing list?</p>
<p><a href="%subscription.remove_url%">Click here to confirm removal.</a></p>
If you did not request this, please contact us.