<h2>%project.name% Mailing List</h2>
<p>To edit your profile, please click the following link:</p>
<p><a href="%subscription.profile_url%">Confirm address and edit profile</a><br />
</p>
<p>Thanks,</p>
<p>%project.name%</p>