<h2>Congratulations!</h2>
<p>You have been successfully registered with the %project.name% mailing list.</p>
<p>To un-subscribe from the list at any time, <a href="%project.full_domain%/unsubscribe">click here</a>.<br />
</p>
<p><br />
</p>