<h2>Welcome!</h2>
<p>From here you can perform the following tasks:</p>
<ul>
    <li><a href="{{ project.full_domain }}/archive">List previous bulletins<br />
    </a></li>
    <li><a href="{{ project.full_domain }}/subscribe">Subscribe</a></li>
    <li><a href="{{ project.full_domain }}/unsubscribe">Un-subscribe</a></li>
</ul>