<h2>Edit your profile</h2>
<p>Please enter your email address to confirm access:</p>
<p> </p>
<form method="post" name="">
    <input type="text" value="%recipient.email%" name="recipient[email]" /><input type="submit" value="Send" name="" />
</form>