<h3>Thankyou!</h3>
<p>Your subscription request has been received, please now check your email to confirm your address.</p>
<p><font color="#ff0000">NOTE:</font> You will not receive any mail until you have confirmed your address!</p>