
The bulletin "<%= @bulletin_name %>" is now being sent.

 Time started: <%= @time_start.to_formatted_s :full %>
 Number of recipients: <%= @recipient_count %>

You should receive a completed delivery confirmation shortly.
