<h1><%= _('New Recipient') %></h1>

<% form_tag :action => 'create' do %>

  <%= error_messages_for 'recipient' %>

  <p><%= _("Please enter the users email address, a check will be made to see if they are already in the database.") %></p>

  <p><label for="recipient_email"><%= _('Email Address') %></label><br/>
  <%= text_field 'recipient', 'email'  %></p>

  <%= submit_tag _("Create") %>

<% end %>

<br />

<%= link_to _('Recipients'), :action => 'list' %>
