<h1>New Project Group</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Project Groups', :action => 'list' %>
 | <%= link_to 'Projects', :controller => 'projects', :action => 'list' %>
