<html>
<head>
  <title>Bcomposer</title>
<script type="text/javascript">
<!--

if (window.focus && window.opener) {
  
  scroll_y = window.opener.scrollY;
  window.opener.location.reload(true);
  setTimeout('window.opener.scroll(0, scroll_y)', 1000);
  window.opener.focus();
  window.close();
}
//-->
</script>
</head>
<body>

<div id="content">

<p><%= _('Please close this popup and refresh the main window') %></p>

</div>



</body>
</html>
